- var page_title = "WISS 2021: 第29回インタラクティブシステムとソフトウェアに関するワークショップ"

doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    include includes/seo
    title #{page_title}
    include includes/bootstrap-css
    link(rel="stylesheet" href="./css/override.css")
  body
    include includes/header
    .container.nav-padding.content
      h1 表彰
      h2 最優秀論文賞
      p プログラム委員による，論文に対する投票で決定
      h3  SingDistVis: 多数の歌声から歌い方の傾向を可視化できるインタフェース
      p 伊藤 貴之（お茶の水女子大），中野 倫靖，深山 覚，濱崎 雅弘，後藤 真孝（産総研）
      h2 最優秀発表賞（プログラム委員）
      p プログラム委員による，査読あり登壇発表に対する投票で決定
      h3 CircWood: CWレーザー加工機による炭化を利用した木製回路基板  
      p 石井 綾郁（お茶の水女子大），加藤 邦拓（東京工科大），池松 香（ヤフー），川原 圭博（東大），椎尾 一郎（お茶の水女子大）
      h2 最優秀発表賞（一般）
      p 参加者による，査読あり登壇発表に対する投票で決定
      h3 液体噴霧混合式の味ディスプレイの試作
      p 宮下 芳明（明治大）
      h2 対話発表賞（プログラム委員）
      p プログラム委員による，査読あり登壇発表に対する投票で決定
      h3 3Dプリントした毛を用いた触覚ディスプレイの提案
      p 高橋治輝(明治大) 
      h2 対話発表賞（一般）
      p 参加者による，査読あり登壇発表に対する投票で決定
      h3 PolygramGenerator: 重ねた文字の可読性を保つ文字デザイン制作システム
      p 越後宏紀(明治大)，五十嵐悠紀(明治大)
      h3 Ha & Fu : スマートフォンに息を吹きかけるポインティングインタフェース
      p 宮下芳明(明治大)，青木秀憲(無所属)
      h2 サイバーエージェント賞
      h3 実世界と順序型コンテンツを連携したIoTプログラミング学習支援システム
      p 川谷 知寛，塚田 浩二（はこだて未来大），栗原 一貴（津田塾大）
      h2 チームラボ賞
      h3 Color-Path: 手本動作のAR表示によるヘアアレンジ再現支援システム
      p 松井 菜摘，大西 鮎美，寺田 努，塚本 昌彦（神戸大）
      h2 YOKOITO賞
      h3 NasalBreathInput: メガネ型デバイスを用いた鼻呼吸ジェスチャによるハンズフリー入力手法
      p 小川諒馬(立命館大)，双見京介(立命館大)，村尾和哉(立命館大／JSTさきがけ)
      h2 ユニティ・テクノロジーズ・ジャパン賞
      h3 ドライブレコーダのデータから旅行の思い出動画を自動生成するwebサービスの実装
      p 尾頭 花奈（名大），石黒 祥生（名大／ティアフォー），椎尾 一郎（お茶の水女子大），武田 一哉（名大／ティアフォー）
      h2 表紙デザイン賞
      p プログラム委員による，WISS論文集表紙デザインに対する投票で決定
      h3 越後宏紀(明治大)
    include includes/footer
    include includes/bootstrap-js
